export(slope)
export(thresTH2)

export(thresTH3)

export(thresEmp2)
export(thresEq2)
export(thresUn2)

export(thresNLM3)

export(SecondDer3st)
export(SecondDer2st)

export(icDeltaEq2)
export(icDeltaUn2)
export(icEmp2)
export(icBootEq2)
export(icBootUn2)

export(icParam3)
export(icBoot3)


export(plotDens2)
export(plotCostROC)

export(plotDens3)

export(ablinesEmp2)
export(ablinesEq2)
export(ablinesUn2)
export(ablines3)

export(SS)
export(SSRatio)

export(print.thresTH2)
export(print.THRESTH3)
export(print.THRESNLM3)
export(print.thresUn2)
export(print.thresEq2)
export(print.thresEmp2)
export(print.SS)
export(print.ICUN2)
export(print.ICPARAM3)
export(print.ICEQ2)
export(print.ICEMP2)
export(print.ICBOOT3)
export(print.DELTAUN)
export(print.DELTAEQ)

importFrom(graphics, lines, plot)